body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.carrossel img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 0 10px black;
}
button {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}